.fest__section {
  background: #181818;
  padding: 14rem 0;
  position: relative;
}

.section__img__one,
.section__img__two,
.section__img__three {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

/*  flex style */
.fest__section h2 {
  margin-bottom: 6.4rem;
  color: var(--clr-grey-3);
}
.fest__section h4 {
  font-size: 1.8rem;
  line-height: 24px;
  font-weight: 700;
  color: var(--clr-grey-3);
  margin-bottom: 8px;
}
.fest__line {
  width: 100%;
  background: #ababab;
  height: 1px;
  margin-bottom: 2.4rem;
}
.fest__flex {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 27.5rem;
}
.fest__flex p {
  max-width: 53%;
  font-size: 1.6rem;
  line-height: 32px;
  font-weight: 500;
  color: var(--clr-grey-3);
}
.fest__img {
  max-width: 310px;
  max-height: 264px;
}
.fest__img img {
  width: 100%;
  height: 100%;
}

/*  media query  */
/*  375px , 576px,  768px, 992px, and 1200px */
@media screen and (min-width: 375px) and (max-width: 576px) {
  .fest__section {
    padding: 56px 0;
  }
  .section__img__one,
  .section__img__two,
  .section__img__three {
    width: auto;
    height: auto;
  }
  .fest__section h2 {
    margin-bottom: 40px;
  }
  .fest__flex {
    margin-top: 24px;
    gap: 24px;
    flex-direction: column-reverse;
  }
}
